{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>시뮬레이션</h1>
<label for="category">카테고리:</label>
<select id="category">
    <option value="hospital">병원</option>
    <option value="pharmacy">약국</option>
    <option value="market">시장/마트</option>
    <option value="cinema">영화관</option>
</select>
<button onclick="generateQuestion()" class=btn btn-primary>질문 생성</button>
<div id="generated_question"></div>

<label for="user_input">Your Input:</label>
<input type="text" id="user_input">

<button onclick="simulate()">시뮬레이션</button>

<h2>응답: 여기 뭐넣지?</h2>
<div id="response"></div>

<script>
    function generateQuestion() {
        var category = $('#category').val();
        
        $.ajax({
            url: '/generate_question/' + category,
            type: 'GET',
            success: function(response) {
                $('#generated_question').text(response);
            }
        });
    }
</script>

{% endblock %}